@import "tailwindcss";


@theme {
  --color-primary: #4DA8CC;
  --color-primary-btn: rgba(77, 168, 204, 0.90);
  --color-primary-hover: rgba(77, 168, 204, 0.10);
  --color-white-custom: #ffffff;
  --color-dark: #0a0a0a;
  --color-secondary-btn : #C2EEFF;
  --color-card : #F6F4FF;
  --color-black: #11142D;
}

body {
  font-family: "Poppins", sans-serif;
}

.container-custom {
  @apply max-w-4xl mx-auto px-4 sm:px-6 lg:px-8;
}

.hero-title {
  @apply text-3xl md:text-5xl lg:text-6xl font-semibold text-white leading-tight;
}

.hero-description {
  @apply text-base md:text-xl text-white/80 leading-relaxed;
}